<div *ngIf="auth.user$ | async; then authenticated else guest">
    <!-- template will replace this div -->
</div>

<!-- User NOT logged in -->
<ng-template #guest>

<button (click)="auth.googleSignin()">
    <i class="fa fa-google"></i> Connect Google
</button>

</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
<div *ngIf="auth.user$ | async as user">
    <h3>{{ user.displayName }}</h3>
    <img  [src]="user.photoURL">
    <p>email: {{ user.email }}</p>
    <button (click)="auth.signOut()">Logout</button>
</div>
</ng-template>